<mat-card class="container mt-3" style="max-width: 500px; margin: auto;">
  <h2 mat-card-title>Add Team</h2>

  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Team Name</mat-label>
      <input matInput formControlName="teamName">
      <mat-error *ngIf="teamForm.get('teamName')?.hasError('required')">
        Team Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Coach</mat-label>
      <input matInput formControlName="coach">
      <mat-error *ngIf="teamForm.get('coach')?.hasError('required')">
        Coach is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Founded Year</mat-label>
      <input type="number" matInput formControlName="foundedYear">
      <mat-error *ngIf="teamForm.get('foundedYear')?.hasError('required')">
        Founded Year is required
      </mat-error>
    </mat-form-field>

   <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid">
  {{ isEditMode ? 'Update Team' : 'Add Team' }}
</button>


  </form>
</mat-card>
