<div class="container mt-3">
  <h2>Add Team</h2>

<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

    <div class="form-group mb-3">
      <label>Team Name</label>
      <input type="text" class="form-control" formControlName="teamName">
    </div>

    <div class="form-group mb-3">
      <label>Coach</label>
      <input type="text" class="form-control" formControlName="coach">
    </div>

    <!-- <div class="form-group mb-3">
      <label>Founded Year</label>
      <input type="number" class="form-control" formControlName="foundedYear">
    </div> -->

    <button class="btn btn-primary" type="submit" [disabled]="teamForm.invalid">
      Add Team
    </button>

  </form>
</div>
